{% extends "bioAuthHome/base.html" %}

{% block body %}
    
    <div class="title-container text-center">
        <h1>MOTUS.LIFE</h1>
        <h3>Emotion Tracker</h3>
        <h4 class="description text-center">Track your emotions through photo analysis.</h4>
        <br />
        {% if request.user.is_authenticated %}
            <!--SAVE FOR LATER
            <a class="btn btn-round btn-neutral btn-fill" href="">Profile</a>
            <a class="btn btn-round btn-neutral btn-fill" href="">Logout</a>
            -->
        {% else %}
            <a class="btn btn-round btn-neutral btn-fill" href="{% url 'login' %}">Login</a>
            <a class="btn btn-round btn-neutral btn-fill" href="{% url 'newUser' %}">New User</a>
        {% endif %}
    </div>

{% endblock %}