{% extends "bioAuthHome/home.html" %}

{% block body %}
    
    <div class="title-container text-center">

        <h4 class="description text-center">Login with Face</h4>
        <br />
        {% if request.user.is_authenticated %}
            <!--SAVE FOR LATER
            <a class="btn btn-round btn-neutral btn-fill" href="">Profile</a>
            <a class="btn btn-round btn-neutral btn-fill" href="">Logout</a>
            -->
        {% else %}
            <a class="btn btn-round btn-neutral btn-fill" href="{% url 'login' %}">Login</a>
            <a class="btn btn-round btn-neutral btn-fill" href="{% url 'newUser' %}">New User</a>
        {% endif %}
    </div>

{% endblock %}
